# Notebook 1: Extraction 

The process conducted in this notebook involves reading the *candidates* dataset, transforming it into a Pandas DataFrame for easy manipulation, and then writing the processed data to a MySQL database.

### Importing libraries and modules

The os and dotenv libraries are used to manage environment variables securely, allowing for the seamless loading of database credentials from a .env file. The sqlalchemy library, including its create_engine and text modules, provides a powerful ORM (Object-Relational Mapping) capability, enabling efficient interaction with the MySQL database. Finally, the pandas library is utilized to handle the candidates dataset, transforming it into a DataFrame for easy manipulation, analysis, and eventually writing it to the MySQL database.

In [2]:
import sys
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import pandas as pd

### Establishing the database connection

In [ ]:
# Add the 'src' directory to the PYTHONPATH
sys.path.append(os.path.abspath('../src'))

# Importing the utility function from the db_utils module within the mypackage package
from connection.db_utils import get_db_connection, read_candidates_table

# Get the database connection
connection = get_db_connection()

# Use the connection for your database operations
if connection:
    df = read_candidates_table(connection)
    print(df.head())
    connection.close()

Connected to the database successfully
   first_name   last_name                      email  country  \
0  Bernadette   Langworth        leonard91@yahoo.com   Norway
1      Camryn    Reynolds        zelda56@hotmail.com   Panama
2       Larue      Spinka   okey_schultz41@gmail.com  Belarus
3        Arch      Spinka     elvera_kulas@yahoo.com  Eritrea
4       Larue  Altenwerth  minnie.gislason@gmail.com  Myanmar

  application_date  yoe  seniority                         technology  \
0       2021-02-26    2     Intern                      Data Engineer
1       2021-09-09   10     Intern                      Data Engineer
2       2020-04-14    4  Mid-Level                     Client Success
3       2020-10-01   25    Trainee                          QA Manual
4       2020-05-20   13  Mid-Level  Social Media Community Management

   code_challenge_score  technical_interview
0                     3                    3
1                     2                   10
2                    10                    9
3                     7                    1
4                     9                    7

### Reading the dataset and Writing it to the databse

In [4]:
csv_path = "../data/candidates.csv"

try:
    # Read CSV using semicolon (;) as separator
    df = pd.read_csv(csv_path, sep=";")

    # Rename columns to match MySQL table schema
    df.rename(columns={
        "First Name": "first_name",
        "Last Name": "last_name",
        "Email": "email",
        "Application Date": "application_date",
        "Country": "country",
        "YOE": "yoe",
        "Seniority": "seniority",
        "Technology": "technology",
        "Code Challenge Score": "code_challenge_score",
        "Technical Interview Score": "technical_interview"
    }, inplace=True)

    # Convert 'application_date' to DATE format
    df["application_date"] = pd.to_datetime(df["application_date"], dayfirst=True).dt.date

    # Insert data into MySQL table
    df.to_sql(name="candidates", con=engine, if_exists='append', index=False)
   


    print(f"✅ Data successfully inserted into '{"candidates"}' in database '{dbname}'!")
except Exception as e:
    print(f"❌ Error: {e}")

❌ Error: name 'engine' is not defined